.search-bar{
    flex: 1;
    height: 37px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgba(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid rgba(240, 240, 240);
    z-index: 100 ;
}

.notif{
    position: relative;
}

.notif-number{
    position: absolute;
    background-color: red;
    padding: 2px 5px;
    font-size: 11px;
    border-radius: 99px ;
    color: white;
    top: 0;
    right: 2px;
}

.left-section{
   /* width: 250px;*/
    display: flex;
    align-items: center;
}

.middle-section{
    flex: 1;
   margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-btn, .voice-btn, .notif, .upload, .youtube-app{
    position: relative;
    font-family: Roboto, Arial;
}

.popup-app{
     position: absolute;
    opacity: 0.1;
    font-size: 12px;
    bottom: -30px;
    right: -30px;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
    transition: opacity 0.15s;
    pointer-events: none;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-upload{
    position: absolute;
    opacity: 0.1;
    font-size: 12px;
    bottom: -30px;
    right: -15px;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
    transition: opacity 0.15s;
    pointer-events: none;
}

.popup-notif{
    position: absolute;
    opacity: 0.1;
    font-size: 12px;
    bottom: -30px;
    right: -27px;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
    transition: opacity 0.15s;
    pointer-events: none;
}

.popup{
    position: absolute;
    opacity: 0.1;
    font-size: 12px;
    bottom: -30px;
    right: 1px;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
    transition: opacity 0.15s;
    pointer-events: none;
}

.popup-voice{
    position: absolute;
    opacity: 0.1;
    font-size: 12px;
    bottom: -30px;
    right: -50px;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
    transition: opacity 0.15s;
    pointer-events: none;
    width: 130px;
}

.notif{
    position: relative;
}


.search-btn:hover .popup{
    color: white;
    opacity: 0.5;
    background-color: black;
}

.notif:hover .popup-notif{
    color: white;
    opacity: 0.5;
    background-color: black;
}

.voice-btn:hover .popup-voice{
    color: white;
    opacity: 0.5;
     background-color: black;
}

.upload:hover .popup-upload{
    color: white;
    opacity: 0.5;
    background-color: black;
}

.youtube-app:hover .popup-app{
    color: white;
    opacity: 0.5;
    background-color: black;
}


.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.youtube-logo{
    height: 20px;
    cursor: pointer;
}

.search-btn{
    height: 40px;
    width: 60px;
    cursor: pointer;
    background-color: rgba(240, 240, 240);
    border: 1px solid rgba(192, 192, 192);
    margin-left: -1px;
}

.search-icon{
    height: 25px;
    margin-left: 9px;
    margin-top: 1px;
}

.voice-btn{
    height: 40px;
    width: 37px;
    cursor: pointer;

    border: none;
    border-radius: 99px;
    margin-left: 10px;
    background-color: rgba(248, 248, 248);
}

.voice-btn:hover{
    background-color: rgba(240, 240, 240);
}

.search-btn:hover{
    background-color: rgba(248, 248, 248);
}

.voice-icon{
    height: 24px;
}

.right-section{
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon, .app-icon, .notif-icon{
    height: 28px;
    cursor: pointer;
}

.user-picture{
    height: 35px;
    width: 35px;
    border-radius: 99px;
    cursor: pointer;
}
