.sidebar{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 65px;
    width: 72px ;
    z-index: 200;
    /*
     display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;*/
}
.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgba(235, 235, 235);
}

.sidebar-link img{
    height: 24px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
    padding-top: 5px;
}