body{
    margin:0;
    padding-top: 100px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 248, 248);
}
.search-bar{
    display: block;
}
img{
   
    display: block;
}

p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}



