

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-preview{
  /*  width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;*/
}

.video-preview img:hover{
    cursor: pointer;
}
.thumbnail-row{
    position: relative;
}

.thumbnail{
    width: 100%;
    position: relative;
}

.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding: 5px 5px;
    border-radius: 4px;
    opacity: 0.9;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 8px;
}

.video-author, .video-stats{
    display: block;
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 4px;
    cursor: pointer;
}

.video-author:hover{
    color: black;
}


.video-info{
    /*width: 200px;*/
}

.channel-picture{
    display: inline-block;
    width: 50px;
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    margin-bottom: 12px;
    cursor: pointer;
}

.profile-picture{
    width: 36px;
    border-radius: 99px;
}

.thumbnail-row{
    margin-bottom: 10px;
}


@media (max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1100px){
     .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width:1099px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}














